 .header {
 font-family: source sans pro;
 height: 520px;
background-color: #003b07;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header img {
  border-style: none;
  position: relative;
  top: 130px;
}
.header div h2{
  color: black;
}