header {
 font-family: source sans pro;
 height: 520px;
 background-color: #e88010;
background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  border-style: none;
  position: relative;
  top: 130px;
}