nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  left: 0;
}

nav p {
  display:row;
  font-family: Source sans pro;
  margin-left: 60%;
}

nav i {
  color: red;
  margin-top: 4%;
}
/* for phone */
@media only screen and (min-width: 768px){
  nav{
    background-color: #003b07
  }
  nav p {
    display:row;
    font-family: source sans-pro;
    margin-left: 70%;
  }

}
/* for phone */
@media only screen and (min-width: 1024px){
  nav{
    background-color:#003b07;
  }
  nav p {
    display:row;
    font-family: source sans-pro;
    margin-left: 70%;
  }
}
