button{
  display:flex;
  font-family: bungee;
  color: white;
  background-color: rgb(68, 68, 184);
  margin-right: 500px;
}
div{
  display:flex;
}
output{
  width: 100%;
  display:flex;
  font-family:bungee;
}
label {
  font-family:bungee;
  color:#545149;
}
button, input, optgroup, select, textarea {
  margin-top: 20px
}
textarea {
  background-color: transparent!important;
    border-color: transparent!important;
    outline: transparent!important;
}
p{
  border-top: 5px solid #545149;; 
  padding-top: 5px;
  margin-bottom: -10px;
  margin-top:-1px;
}
