
.newTweet {
  border: solid 5px;
  padding: 0 25px;
  margin: 3em 0;
  display: flex;
  flex-flow: column nowrap;
}

.newHeader {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.newText{
  display:flex;
}
.newFooter div {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.newFooter footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border-width: 3px 0 0 0;
  border-style: solid;
}
.newLine{
  border-top: 5px solid #545149;; 
  padding-top: 5px;
  margin-bottom: -10px;
  margin-top:-1px;
  font-size:15px;
}
.newFooter p{
  font-size: 12;
}
.newTweet:hover{
box-shadow: 0 0 50px rgba(33,33,33,.2);
}
.fa-flag:hover {
  color: darkorange;
}

.fa-retweet:hover {
  color: darkorange;
}

.fa-heart:hover {
  color: darkorange;
}
.fa-solid{
  font-weight: 900;
  font-size: 15px;
  padding-bottom: 20px;
}
.fa-regular{
  font-size:50px;
  padding-right:15px;
}

.textarea, #tweet-text{
  width: 646px;
  height: 56px;
  
}